<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Permalinker - Convert all your links to permalinks</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/scrolling-nav.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand page-scroll" href="#page-top">Permalinker</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
 <section class="intro-section" id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Permalinker</h1>

                    <p class="lead">Don't let your links rot! Type in any
                    series of links, or text with links, and this tool will
                    automatically make them permanent! Supports Markdown, HTML,
                    or any sort of text or links.</p>

                    <p>Automatically uses the <a href=
                    "https://archive.org/index.php">Internet Archive</a>. If
                    you'd like to use <a href=
                    "https://perma.cc/login">perma.cc</a> instead, simply enter
                    your <a href="https://perma.cc/settings/tools" target=
                    "_blank">API key</a>.</p>
                    <textarea class="ui-autocomplete-input" id="inputtext"
                    name="comment[text]" placeholder=
                    "Type in text or links or both." rows="10" style=
                    "width:100%;">
</textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-5 col-xs-offset-2">
                    <label class="sr-only" for="apikey">Perm.cc API key</label>
                    <input class="form-control" id="apikey" placeholder=
                    "perm.cc API key (optional)" type="input">
                </div>

                <div class="col-xs-2">
                    <p style="text-align: left"><button class="btn btn-primary"
                    id="submitbutton" type="submit">Generate
                    permalinks!</button></p>
                </div>

                <div class="col-xs-3"></div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <textarea class="ui-autocomplete-input" id="outputtext"
                    name="comment[text]" placeholder=
                    "Type in text or links or both." rows="10" style=
                    "width:100%;">
</textarea>
                </div>
            </div>
        </div>
    </section>


    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
                    <h1>Generating</h1>

<img src="http://www.ibm.com/social-business/us/en/images/socbiz-loader.gif" width=100px>

                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h1>About</h1>
<p><strong>Link rot</strong> is real, it is common, and it is pervasive. What is <strong>link rot</strong>? Link rot is essentially <em>the process by which hyperlinks cease to function, usually because the web page or server they point to has moved or has become permanently unavailable</em>. It has existed since the internet began. An example of its influence can be seen as recently as 2000, when <a href="http://dx.doi.org/10.1002/bmb.2003.494031010165">a study</a> found that within 24 months, 50% of .com domains and 20% of .gov domains were no longer viable. <a href="http://dx.doi.org/10.1017/S1472669614000255">Another study</a> found that 70% of links in Harvard Law Review and 50% of links within the United States Supreme Court opinions are no longer viable. If we are to take the internet as a primary resource seriously, then we seriously need to think about undertaking a better way of long-term preservation of link contents.</p>
<h2 id="how-stop-link-rot">How stop link rot</h2>
<p>Link rot can be combated in several ways.</p>
<ol style="list-style-type: decimal">
<li>Use a <a href="http://www.doi.org/">digital object identifier</a> which provides persistent and actionable identification. The a website under a DOI changes, it can be changed in the DOI service so that the unique DOI identifier always links to the most up-to-date material.</li>
<li>Use a <a href="http://ipfs.io/">permanent web framework</a>. Our current web protocol has many nodes of failure, while newer hypermedia frameworks seek a more distributed protocol with builtin content identies that would allow data to permanently be available.</li>
<li>Only link to archiving sites like the <a href="https://archive.org/web/">Internet Archive</a> or <a href="https://perma.cc/">perma.cc</a>. <strong>My little program I’ve written helps to combat link rot by providing a simple and easy way to convert all your links to an archived link.</strong></li>
</ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Contact Section</h1>
                    <p>This tool is free to use and protected by the <a href="https://github.com/schollz/prevent-link-rot/blob/master/LICENSE">MIT License</a>.</p>
                    <p>This tool is written in Python and is available for free from <a href="https://github.com/schollz/prevent-link-rot">Github</a>.</p>
                    <p>Something not working? Feel free to message me - zack @ hypercubeplatforms.com<p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>
    <script src="/static/js/scrolling-nav.js"></script>

     <script>

    var $notloading = $('#intro').hide();
    var $loading = $('#about').hide();
    var $textdone = $('#outputtext').hide();
$(document)
    .ajaxStart(function () {
            $('.outer').hide()
            $notloading.hide();
            $loading.show();
              })
  .ajaxStop(function () {
            $notloading.show();
          $loading.hide();
          $textdone.show()
            });

  $(document).ready(function(){
$notloading.show();

      $("#submitbutton").click(function(e){
          e.preventDefault();
              $.ajax({
                  type: 'POST',
                  url: '/permanize',
                  data: JSON.stringify({text:$("textarea#inputtext").val(),apikey:$("#apikey").val()}, null, '\t'),
                  contentType: 'application/json;charset=UTF-8',
                  success: function(result){
                      console.log(result)
                      $("textarea#outputtext").val(result.text);
                  }
              });

      });
    });

    </script>

</body>

</html>
